@model PagedList.IPagedList<WebApplication1.Models.Album>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}
<style>
    table tr td {
        border: 2px solid black;
        text-align: center;
        word-wrap: break-word;
    }

    table tr:hover {
        background-color: #000;
        color: #fff;
    }

    table tr th {
        border: 2px solid black;
        text-align: center;
        background-color: #fff;
        color: #000;
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Albums", FormMethod.Get))
{
    <p>
        Search : @Html.TextBox("search")
        <input type="submit" name="" value="Find" />
    </p>

    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Genre.GenreName)*@
                Genre
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Title)*@
                Title
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ReleaseDate)*@
                ReleaseDate
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Artist)*@
                Artist
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Price)*@
                Price
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.GenreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.AlbumId },
                   new {@class = "glyphicon glyphicon-pencil" }) | 
                    @Html.ActionLink(" ", "Details", new { id = item.AlbumId },
                   new {@class = "glyphicon glyphicon-th-list" }) | 
                    @Html.ActionLink(" ", "Delete", new { id = item.AlbumId },
                  new { @class = "glyphicon glyphicon-trash",
                  onclick = "return confirm('Are you sure you want to remove " + @item.Title + " to list ?');"})
                </td>
            </tr>
        }
    </table>
    <div id='Paging' style="text-align:center">
        Page: @(Model.PageCount < Model.PageNumber ? 0 :Model.PageNumber)
        of @Model.PageCount @Html.PagedListPager(Model, Page_No
            => Url.Action("Index", new { Page_No }))
    </div>
}
